@font-face {
    font-family: 'YekanBakh';
    font-style: normal;
    font-weight: 400;
    src: url('YekanBakh.ttf');
  }
  @font-face {
    font-family: 'VazirBold';
    font-style: normal;
    font-weight: 400;
    src: url('Vazir-Bold.ttf');
  }
  @font-face {
    font-family: 'VazirLight';
    font-style: normal;
    font-weight: 400;
    src: url('Vazir-Light.ttf');
  }
  @font-face {
    font-family: 'ShabnamBold';
    font-style: normal;
    font-weight: 400;
    src: url('Shabnam-Bold.ttf');
  }
  @font-face {
    font-family: 'ShabnamMedium';
    font-style: normal;
    font-weight: 400;
    src: url('Shabnam-Medium.ttf');
  }

  @font-face {
    font-family: 'ShabnamThin';
    font-style: normal;
    font-weight: 400;
    src: url('Shabnam-Thin.ttf');
  }
  @font-face {
    font-family: 'ShabnamLight';
    font-style: normal;
    font-weight: 400;
    src: url('Shabnam-Light.ttf');
  }
  @font-face {
    font-family: 'YekanBakh-Black';
    font-style: normal;
    font-weight: 400;
    src: url('YekanBakh-Black.ttf');
  }
  @font-face {
    font-family: 'YekanBakh-Light';
    font-style: normal;
    font-weight: 400;
    src: url('YekanBakh-Light.ttf');
  }
  @font-face {
    font-family: 'YekanBakh-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('YekanBakh-Regular.ttf');
  }
  @font-face {
    font-family: 'YekanBakh-Thin';
    font-style: normal;
    font-weight: 400;
    src: url('YekanBakh-Thin.ttf');
  }
  @font-face {
    font-family: 'YekanBakh-Regular-woff';
    font-style: normal;
    font-weight: 400;
    src: url('YekanBakh-Regular.woff');
  }